@charset "UTF-8";

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-Medium.woff2") format("woff2"), url("../fonts/Montserrat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-SemiBold.woff2") format("woff2"), url("../fonts/Montserrat-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "Montserrat";
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Montserrat";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  background: #323232;
  color: #fff;
  padding-right: 0 !important;
  font-size: 0.875rem;
  line-height: 1;
  font-weight: 400;
}

.lock body {
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 69.5625rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

body::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 0.8s ease 0s;
  -o-transition: opacity 0.8s ease 0s;
  transition: opacity 0.8s ease 0s;
  pointer-events: none;
  z-index: 149;
}

.popup-show body::after {
  opacity: 1;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 30px 10px;
  -webkit-transition: visibility 0.8s ease 0s;
  -o-transition: visibility 0.8s ease 0s;
  transition: visibility 0.8s ease 0s;
  visibility: hidden;
  pointer-events: none;
}

.popup_show {
  z-index: 150;
  visibility: visible;
  overflow: auto;
  pointer-events: auto;
}

.popup_show .popup__content {
  visibility: visible;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
}

.popup__content {
  visibility: hidden;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  background-color: #fff;
  width: 100%;
  max-width: 500px;
  padding: 33px 36px;
}

.lock .popup__content {
  visibility: visible;
}

.popup {
  /* .popup__wrapper */
  /* .popup__content */
}

.popup__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
  grid-template-columns: repeat(1, 1fr);
  row-gap: 12px;
}

.popup-contacts {
  /* .popup-contacts__text */
  /* .popup-contacts__link */
}

.popup-contacts__text {
  font-size: 0.9375rem;
  line-height: 1.1333333333;
  letter-spacing: 0.5px;
  color: #505050;
}

.popup-contacts__link {
  margin: 29px auto 0;
  max-width: 340px;
  width: 100%;
  background: #27AE60;
  border-radius: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 0.9375rem;
  line-height: 1.6666666667;
  letter-spacing: 0.5px;
  min-height: 45px;
  color: #fff;
}

.checkbox {
  position: relative;
}

.checkbox__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
}

.checkbox__input:checked + .checkbox__label:before {
  opacity: 1;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.checkbox__label {
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.checkbox__label:after {
  content: "";
  -ms-flex-item-align: start;
      align-self: flex-start;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 32px;
          flex: 0 0 32px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 1px solid #FFFFFF;
  border: 1px solid #a7a9ac;
}

.checkbox__label:before {
  content: "";
  background: #27AE60;
  width: 14px;
  height: 14px;
  position: absolute;
  bottom: 9px;
  opacity: 0;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  left: 9px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 14px;
          flex: 0 0 14px;
  border-radius: 50%;
}

.checkbox__text {
  display: block;
}

.checkbox__text:first-child {
  font-size: 1.125rem;
  line-height: 1.3333333333;
}

.checkbox__if {
  margin-left: 30px;
  display: block;
  font-size: 1rem;
  font-weight: 300;
  color: #8F9199;
  line-height: 1.5;
}

.select {
  position: relative;
}

.select__body {
  position: relative;
}

.select__title {
  color: inherit;
  text-align: left;
  cursor: pointer;
  width: 100%;
}

.select__value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.select__value > * {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.select__value:after {
  content: "";
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

._select-open .select__value:after {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.select__value._select-pseudo-label::before {
  content: attr(data-pseudo-label);
  opacity: 0.5;
}

.select__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.select__input {
  width: 100%;
  background-color: transparent;
  height: 100%;
}

.select__options {
  color: #000;
  position: absolute;
  top: 29px;
  border-radius: 0 0 4px 4px;
  min-width: 100%;
  left: 0;
  background-color: #fff;
  border-top: 0;
  border-top: 0;
  padding: 10px 0px 5px 0px;
}

.select__scroll {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 200px;
}

.select__option {
  width: 100%;
  text-align: left;
  cursor: pointer;
  padding: 5px 15px;
  color: inherit;
}

.select__option._select-selected {
  background-color: #eee;
}

.select__row {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.select._select-open {
  z-index: 5;
}

._select-tag {
  cursor: pointer;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.breadcrumbs {
  padding-top: 0.75rem;
  margin-bottom: 0.5rem;
  /* .breadcrumbs__container */
  /* .breadcrumbs__point */
}

.breadcrumbs__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[2];
  grid-template-columns: repeat(2, auto);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.breadcrumbs__point {
  font-size: 0.875rem;
  line-height: 1.9285714286;
  /* .breadcrumbs__point_active */
}

.breadcrumbs__point:not(:last-child):after {
  content: "–";
  margin: 0 0.3125rem;
}

.breadcrumbs__title {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.4166666667;
}

.breadcrumbs-faq .breadcrumbs__title {
  margin-right: 150px;
}

.breadcrumbs-review .breadcrumbs__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.breadcrumbs-review .breadcrumbs__title {
  margin-left: 40px;
}

.breadcrumbs-request {
  padding-top: 1.0625rem;
  margin-bottom: 1.5625rem;
}

.breadcrumbs-request .breadcrumbs__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.breadcrumbs-request .breadcrumbs__title {
  margin-left: 85px;
}

.breadcrumbs-public-offer {
  background-color: #fff;
  padding-top: 0.6875rem;
  padding-bottom: 0.6875rem;
  margin-bottom: 0;
}

.breadcrumbs-public-offer .breadcrumbs__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.breadcrumbs-public-offer .breadcrumbs__title {
  margin-left: 265px;
}

.breadcrumbs-dealers {
  background-color: #fff;
  margin-bottom: 0;
  padding-bottom: 11px;
}

.breadcrumbs-dealers .breadcrumbs__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.breadcrumbs-dealers .breadcrumbs__title {
  margin: 0 auto;
  padding-right: 65px;
}

.breadcrumbs-payment-delivery {
  margin-bottom: 0.6875rem;
}

.breadcrumbs-payment-delivery .breadcrumbs__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.breadcrumbs-payment-delivery .breadcrumbs__title {
  margin-left: 185px;
}

.slider__name {
  position: absolute;
  top: 12px;
  font-size: 0.9375rem;
  line-height: 1.7333333333;
  letter-spacing: 0.03125rem;
  color: #fff;
  right: 50%;
  -webkit-transform: translate(50%, 0);
      -ms-transform: translate(50%, 0);
          transform: translate(50%, 0);
}

.slider-request .slider__name {
  right: unset;
  top: 22px;
  left: 32px;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
}

.slider-request .slider__arrows {
  bottom: 47.2px;
}

.header {
  background-color: #fff;
  color: #fff;
  /* .header__container */
}

.header__container {
  display: -ms-grid;
  display: grid;
  min-height: 57px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(100px, auto));
  position: relative;
}

.header__text {
  margin: 0 auto;
  font-size: 0.875rem;
  line-height: 1.9285714286;
}

.header__phone {
  margin-left: auto;
  display: inline-block;
  font-size: 0.875rem;
  line-height: 1.9285714286;
}

.menu {
  margin: 0 auto;
  /* .menu__body */
  /* .menu__list */
  /* .menu__link */
}

.menu__body {
  z-index: -2;
  width: 284px;
  position: absolute;
  top: 57px;
  display: none;
  min-height: 533px;
  background-color: #fff;
  right: 15px;
  overflow: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 7.5625rem;
}

.menu__list {
  width: 100%;
  gap: 0.75rem;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -ms-grid-columns: (1fr)[1];
  grid-template-columns: repeat(1, 1fr);
  padding-top: 4.5625rem;
  position: relative;
  position: relative;
}

.menu__list:before {
  content: "";
  position: absolute;
  top: 31px;
  background-color: #E63728;
  height: 1px;
  width: 105px;
}

.menu__list:after {
  content: "";
  position: absolute;
  bottom: -73px;
  background-color: #E63728;
  height: 1px;
  width: 105px;
}

.menu__link {
  color: #000;
  font-size: 0.875rem;
  line-height: 1.9285714286;
}

.icon-menu {
  outline: none;
  display: none;
  display: block;
  position: relative;
  width: 3.6875rem;
  height: 1.625rem;
  cursor: pointer;
  z-index: 5;
  margin-left: auto;
}

.icon-menu span,
.icon-menu::before,
.icon-menu::after {
  content: "";
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  right: 0;
  position: absolute;
  width: 59px;
  height: 0.375rem;
  background-color: #505050;
}

.icon-menu::before {
  top: 0;
}

.icon-menu::after {
  bottom: 0;
}

.icon-menu span {
  top: calc(50% - 0.1875rem);
}

.menu-open .menu__body {
  z-index: 2;
  display: block;
}

body {
  color: #000;
  background-color: #fff;
}


.header {
  background: #E63728;
}

.public-offer {
  padding-top: 3.125rem;
  color: #000;
  padding-bottom: 6.5rem;
  /* .public-offer__container */
  /* .public-offer__title */
  /* .public-offer__text */
  /* .public-offer__items */
  /* .public-offer__item */
  /* .public-offer__text-title */
}

.public-offer__title {
  max-width: 757px;
  margin: 0 auto;
  text-align: center;
  font-weight: 600;
  font-size: 1.5625rem;
  line-height: 2.08;
  letter-spacing: 0.5px;
  margin-bottom: 4.0625rem;
}

.public-offer__text {
  font-size: 0.9375rem;
  line-height: 1.6666666667;
  letter-spacing: 0.5px;
}

.public-offer__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
  grid-template-columns: repeat(1, 1fr);
  row-gap: 52px;
}

.public-offer__text-title {
  margin-bottom: 0.25rem;
  text-transform: uppercase;
}

.companies {
  padding-bottom: 6.25rem;
  /* .companies__container */
  /* .companies__images */
  /* .companies__image */
}

.companies__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 10px;
}

.location .slider {
  padding-bottom: 37px;
}

.location .slider__image img {
  height: 403px;
}

.location .slider__arrows {
  bottom: 20px;
}

.location__container {
  text-align: center;
  color: #505050;
}

.location__title {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.0416666667;
  margin-bottom: 0.9375rem;
}

.location__subtitle {
  font-size: 1.5rem;
  line-height: 1.0416666667;
  font-weight: 400;
  margin-bottom: 6.0625rem;
}

.logistics {
  padding-top: 100px;
}

.logistics__container {
  display: -ms-grid;
  display: grid;
  text-align: center;
  justify-items: center;
}

.logistics__title {
  font-size: 0.9375rem;
  line-height: 1.3333333333;
  font-weight: 600;
  margin-bottom: 0.4375rem;
}

.logistics__subtitle {
  font-size: 0.9375rem;
  line-height: 1.3333333333;
  margin-bottom: 2.0625rem;
  max-width: 269px;
}

.logistics-media {
  max-width: 510px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.logistics-media__img {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  margin-bottom: 1.875rem;
}

.logistics-media__title {
  max-width: 52px;
}

.logistics-media__title_translate {
  -webkit-transform: translate(0, -11px);
      -ms-transform: translate(0, -11px);
          transform: translate(0, -11px);
}

.subscribe-form {
  padding-top: 114px;
  padding-bottom: 100px;
  color: #505050;
}

.subscribe-form__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr [1];
  grid-template-columns: repeat(1, 1fr);
  max-width: 646px;
  width: 100%;
}

.subscribe-form__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.subscribe-form__offer {
  font-size: 0.9375rem;
  line-height: 1.6666666667;
  max-width: 232px;
  margin-right: 1.1875rem;
}

.subscribe-form__input {
  border: 1px solid #505050;
  padding: 9px 14px;
  font-size: 0.9375rem;
  max-width: 214px;
  width: 100%;
  line-height: 1.6666666667;
  min-height: 45px;
}

.subscribe-form__input input::-webkit-input-placeholder {
  color: #505050;
}

.subscribe-form__input input::-moz-placeholder {
  color: #505050;
}

.subscribe-form__input input:-ms-input-placeholder {
  color: #505050;
}

.subscribe-form__input input::-ms-input-placeholder {
  color: #505050;
}

.subscribe-form__input input::placeholder {
  color: #505050;
}

.subscribe-form__input input {
  outline: none;
  background-color: transparent;
}

.subscribe-form__button {
  border: 1px solid #505050;
  max-width: 180px;
  width: 100%;
  height: 45px;
  color: #E63728;
  font-weight: 500;
  font-size: 0.9375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  line-height: 3.4666666667;
  letter-spacing: 0.03125rem;
}

.subscribe-form__note {
  font-size: 0.5rem;
  line-height: 3.125;
  text-align: right;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__text {
  font-weight: 500;
}

.header .icon-menu {
  margin-left: 36px;
}

.slider {
  padding-bottom: 100px;
  /* .slider__slider */
  /* .slider__image */
  /* .slider__arrows */
  /* .slider__arrow */
}

.slider__slider {
  position: relative;
  max-width: 1110px;
}

.slider__image img {
  max-width: 1110px;
  width: 100%;
  height: 624px;
}

.slider__arrows {
  position: absolute;
  bottom: 53px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  gap: 17.5px;
}

.slider__arrow {
  width: 29.5px;
  height: 29.8px;
  border: 1px solid #FFFFFF;
  border-radius: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  /* .slider__arrow_prev */
  /* .slider__arrow_next */
}

.slider__arrow img {
  width: 20.75px;
  height: 14.9px;
}

.slider__arrow-decor {
  height: 25.5px;
  width: 1px;
  background-color: #fff;
}

.swiper {
  overflow: hidden;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

@media (any-hover: hover) {
  .select__option:hover {
    background: #d9d9d9;
  }
}
